# Ignorar todo por defecto
/*

# Permitir documentacion
!/documentacion/

# Permitir toda la carpeta mextyapp/api
!/mexyapp/api/
!mexyapp/appsettings.json

# Ignorar bin y obj
bin/
obj/

# Ignorar archivos de usuario de Visual Studio
*.user
*.suo
*.vs/
.vscode/

# Ignorar logs
*.log

# Ignorar archivos de configuración local de desarrollo
appsettings.Development.json
